In [1]:
import sys
sys.path.append('/Users/gimchaejeong/Desktop/Projects/piss_off_spam_kword/piss_off_spam_kword/')

In [3]:
from module.complete_fake_df import making

In [4]:
a = making()
a.making(to_csv=False)

Finish making the complete_fake_df!!

   complete_emoji  emoji_ascii complete_letter letter_ascii
0               ㈎        12814               가        12814
1               ㈏        12815               나        12815
2               ㈐        12816               다        12816
3               ㈑        12817               라        12817
4               ㈒        12818               마        12818
..            ...          ...             ...          ...
57              ㈉        12809               ㅊ        12809
58              ㈊        12810               ㅋ        12810
59              ㈋        12811               ㅌ        12811
60              ㈌        12812               ㅍ        12812
61              ㈍        12813               ㅎ        12813

[62 rows x 4 columns]